<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignDetector</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/favicon.ico') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">Sign Detector</h1>
        <div class="video-container">
            <video id="video" width="100%" autoplay class="video"></video>
        </div>
        <canvas id="canvas" style="display: none;"></canvas>
        <div class="btn-container">
            <button id="start-camera" class="btn">Начать</button>
            <button id="stop-camera" class="btn">Остановить</button>
        </div>

        <p class="subtitle">Знаки для уведомлений:</p>
        <ul class="sign_permissions_container">
            {% for sign_id in signs %}
            <li>
                <input type="checkbox" data-sign_id="{{sign_id}}" class="check-item__checkbox" id="sign{{loop.index}}" checked/>
                <label class="check-item__label" for="sign{{loop.index}}">{{signs[sign_id]}}</label>
            </li>
            {% endfor %}
        </ul>
        <p id="result" class="text"></p>
    </div>
    <script src="{{ url_for('static', path='/script.js') }}"></script>
</body>
</html>